.pag-s {
  /* border: 1px solid red; */
  flex-flow: wrap;
  gap: 10px;
  row-gap: 20px;
  align-content: center;

  .button {
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding: 20px;
    text-shadow: none;
  }
}