.pag-s {
  /* border: 1px solid red; */
  flex-flow: wrap;
  gap: 10px;
  row-gap: 15px;
  align-content: flex-end;
  margin-top: 60px;

  .button {
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding: 20px;
    text-shadow: none;

    &:disabled {
      opacity: 0.5;
    }
  }
}